body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

header { margin-bottom: 3%; }

#logo {
	width:20%;
	min-width: 70px;
	height: auto;
}

#link {
	color: #fff;
	font-weight: 300;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin-top: 10px;
}

#link2 { color: #fff; }

#link2:hover {
	text-decoration: none;
	color: #fecb04;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px;
	background-color: #444;
	text-align: center;
	font-weight: 700;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
}

#h2 { text-align:left; }

#formular {
	margin-left: 10%;
	width: 80%;
}

.imgbtn {
	height: 80%;
	border-radius: 0px;
}

.imgbtn:hover {
	border-radius: 0px;
	border-color: #444;
	background-color: #E2E1E1;
}

.btn-neu {
	width:200px;
	margin-bottom: 5px;
	white-space: normal;
}

a.btn.btn-block.btn-default button {
	color: #fff;
	background-color: #2E4D74;
	border-radius:10px;
	border-color:#fff;
	text-align:center;
}

a.btn.btn-block.btn-default:active {
	color: #fff;
	background-color: #2C74B8;
}

a.btn.btn-block.btn-default:hover {
	color: #fff;
	background-color: #17355B;
}

.btn.btn-sm.btn-blue { margin-bottom: 5px; }

.bl {
	width: 70%;
	height: 20%;
	position: absolute;
	top: 0;
	margin-top: 2%;
	margin-left: 30%;
}

#bltext {
	position: absolute;
	margin-left: 4%;
	margin-top: 3% !important;
	white-space: nowrap;
	color: #000;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

.btnicon {
	border: 0;
	width: 100%;
	padding-top: 5px;
	/*float: left;*/
	/*margin-right: 15px;*/
	/*overflow: hidden;*/
}

.btn-yellow {
	color: #000;
	background-color: #FC3;
	border-color: #FC3;
	border-radius:10px;
}

.btn-yellow:active {
	color: #000;
	background-color:#FC3;
	border-color: #FC3;
}

.btn-yellow:hover {
	color: #000;
	background-color:#FF6;
	border-color: #FF6;
}

.btn-blue {
	color: #fff;
	background-color:#2E4D74;
	border-color:#2E4D74;
	border-radius:10px;
}

.btn-blue:active {
	color: #fff;
	background-color:#17355B;
	border-color:#17355B;
}

.btn-blue:hover {
	color: #fff;
	background-color:#17355B;
	border-color:#17355B;
}

.form-group { font-size: 14pt; }

.mapcontainer {
	position:absolute;
	left:50px;
	top:5px;
	right:0px;
	bottom:5px;
}

.mapdiv { height: 500px; }

#map_attribution {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
}

.startinfo { width: 55%; }

.container.jumbotron {
	background-color: #fff;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jumbotron { background-color: #fff; }

.goleft { text-align: center; }

.pos { text-align: right; }

.inhalt { font-size: 1em !important; }

.namen{ font-size: 1em !important; }

p { line-height: 150%; }

h6 { font-size: 14px; }

tbody { font-size: 1.0em; }

h4 {
	font-size: 12pt !important;
	margin-top: 5px !important;
}

h3 { font-size: 18pt !important; }

#nachricht {
	resize: none;
	font-size: 10pt;
	width: 100%;
	height: 250px;
	padding: 30px;
}

#nachricht2 {
	resize: none;
	font-size: 10pt;
	width: 70%;
	height: 250px;
	padding: 30px;
}

.subtitle { font-size: 14px; }

.tabelle {
	display:table;
	width:50%;
}

.dropzone {
	display: table-cell;
	width: 90%;
	height: 150px;
}

.bold { font-weight: 700 !important; }

div.meldeart {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12pt;
	line-height: 14pt;
	margin-top: 10px;
}

#zeichen{ font-size: 12pt; }

.buffer { margin: 1% 0; }

.centered { margin: 0 auto; text-align: center; }

@media all and (min-device-width : 5px) and (max-device-width : 1000px) {
	header { margin-bottom: .5%; }

	.mapcontainer {
		position:absolute;
		left:5px;
		right:5px;
	}

	.mapdiv {
		height:200px;
		width:250px;
		margin-left: 10px;
	}

	.startinfo { width: 100%; }

	.jumbotron { box-shadow: 0px 0px 0px #888; }

	.jumbotron-lesspadding { padding: 5px 30px; }

	.pos { text-align: center; }

	a.btn.btn-block.btn-default { min-height: 60px; }

	.btnicon { width: 90%; }

	.tabelle { width: 100%; }

	div.meldeart {
		font-size: 10pt;
		line-height: 12pt;
		text-align: center;
		margin-top: 10px;
	}

	#nachricht2 { width: 100%; }
}

@media screen and (max-width: 37.5em) {
	header { margin-bottom: .5%; }

	.dropzone .dz-default.dz-message {
		background-position: 0 -123px;
		width: 268px;
		margin-left: 0px !important;
		height: 174px;
		margin-top: 0px !important;
	}
}

@media all and (max-width: 1000px) {
	header { margin-bottom: .5%; }

	.bl { margin-left: 5%; }

	.mapcontainer {
		position:absolute;
		left:5px;
		right:5px;
	}

	.mapdiv {
		height:200px;
		width:250px;
		margin-left: 10px;
	}

	.tabelle { width: 100%; }

	div.meldeart {
		font-size: 10pt;
		line-height: 12pt;
		margin-top: 10px;
		text-align: center;
	}

	.btntable { width: 100%; }

	#nachricht2 { width: 100%; }
}