

#logo{
    width:20%;
    height: auto;
}

#link{
    color: #ffffff;
    font-weight: lighter;
    font-family: Verdana;
    font-size: 10pt;
    margin-top: 10px;
}
#link2{
    color: #ffffff;
}
#link2:hover{
    text-decoration: none;
    color: #fecb04;
}

body{
	background-color: #F2F2F2;
	font-family: Verdana;
	overflow-x: hidden;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px;
    background-color: #444444;
	text-align: center;
	font-weight: bold;
	font-family: Verdana;
	color: #ffffff;
}


#h2{
text-align:left;
}


#formular{
	margin-left: 10%;
	width: 80%;
}

.imgbtn{
	height: 250px;
    width: 250px;
    border-radius: 0px;
}
.imgbtn:hover{
    border-radius: 0px;
    border-color: #444444;
    background-color: rgba(254, 203, 4, 0.2);
}

.btn{
	white-space: normal;
    width: 250px;
    font-size: 12pt;
}

.btn-neu{
    width:200px;
}

a.btn.btn-block.btn-default button {
	color: #FFFFFF;
	background-color: #2E4D74;
	border-radius:10px;
	border-color:#FFFFFF;
	text-align:center;
}

a.btn.btn-block.btn-default:active {
	color: #FFFFFF;
	background-color: #2C74B8;
}

a.btn.btn-block.btn-default:hover {
	color: #FFFFFF;
	background-color: #17355B;
}

.btn.btn-sm.btn-blue{
	margin-bottom: 5px;
}

.bl{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    margin-top: 2%;
    margin-left: 30%;
}

#bltext{
    position: absolute;
    margin-left: 4%;
    margin-top: 3% !important;
    white-space: nowrap;
    color: #000;
    font-family: Verdana;
    font-size: 12pt;
}

.btnicon{
	border: 0;
	width: 100%;
    padding-top: 5px;
	/*float: left;*/
	/*margin-right: 15px;*/
	/*overflow: hidden;*/
}

.btn-yellow { 
	color: #000000; 
	background-color: #FFCC33; 
	border-color: #FFCC33; 
	border-radius:10px;
}

.btn-yellow:active{
	color: #000000; 
	background-color:#FFCC33;
	border-color: #FFCC33; 
}

.btn-yellow:hover{
	color: #000000; 
	background-color:#FFFF66;
	border-color: #FFFF66; 
}

.btn-blue  {
	color: #FFFFFF; 
	background-color:#2E4D74;
	border-color:#2E4D74;
	border-radius:10px;
}

.btn-blue:active{
	color: #FFFFFF; 
	background-color:#17355B;
	border-color:#17355B;
}

.btn-blue:hover{
	color: #FFFFFF; 
	background-color:#17355B;
	border-color:#17355B;
}

.form-group{
	font-size: 14pt;
}

.mapcontainer{
	position:absolute;  
	left:50px;
	top:5px;
	right:0px;
	bottom:5px;
}

.mapdiv{
	width: 500px;
	height: 500px;
}

.startinfo{
	width: 55%;
}
.container.jumbotron{
    background-color: #ffffff;
    font-family: Verdana;
}
.jumbotron{
	/*box-shadow: 10px 10px 15px #cccccc;*/
	background-color: #ffffff;
}

.lalo{
	font-size:12px !important;
}

.goleft{
	text-align: center;
}

.pos{
	text-align: right;
}
.inhalt{
font-size:0.8em !important;
}
.namen{
font-size:0.6em !important;
}
p { 
line-height: 150%; 
}
h6{
	font-size: 14px;
}
tbody{
font-size: 1.0em;
}
h4{
	font-size: 9px;
}
#nachricht{
    resize: none;
    font-size: 10pt;
    width: 100%;
    height: 250px;
    padding: 30px;
}
#nachricht2{
    resize: none;
    font-size: 10pt;
    width: 50%;
    height: 250px;
    padding: 30px;
}

.btntable{
	display: table;
	font-size: 14px;
	font-family: Verdana;
}

.cell{
	width: 50% !important;
	vertical-align: top;
	text-align: center;
}

.verd{
	font-family: Verdana;
}

.subtitle{
	font-size: 14px;
}

.dropzone{
	display: table-cell;
	width: 90%;
	height: 150px;
	font-size: 0;
	line-height: 0;
}

.bold{
	font-weight: bold !important;
}

@media all 
and (min-device-width : 5px)
and (max-device-width : 1000px)  
{
.mapcontainer{
	position:absolute; 
	left:5px;
	top:5px;
	right:5px;
	bottom:5px;
}

.mapdiv{
	height:200px;  
	width:250px; 
	margin-left: 10px;
}

.startinfo{
	width: 100%;
}

.jumbotron{
	box-shadow: 0px 0px 0px #888888;
}

.pos{
	text-align: center;
}

a.btn.btn-block.btn-default{
	min-height: 60px;
}

.btnicon{
	width: 90%;
}

.cell {
        float: left !important;
        width: 50% !important;
    }

}


@media all and (max-width: 1000px)  {
    .cell {
        float: left !important;
        width: 50% !important;
    }
	
}
div.ueberschrift{
    font-size: 18pt;
}
div.meldeart{
    font-family: Verdana;
    font-size: 12pt;
    width: 250px;
    line-height: 14pt;
    margin: 15px;
}
label.hinweis{
    font-size: 10pt;
}
#form{
    padding: 40px;
}
#zeichen{
    font-size: 12pt;
}
.kontrolle {
    width: 200%;
    margin-left: -150px;
}